body {
      margin: 0;
      padding: 0;
      height: 100%;
      font-family: 'Pretendard', sans-serif;
      background-color: #fff;
    }

    .mainContainer {
      padding: 40px 20px;
      max-width: 1000px;
      margin: 0 auto;
    }

    .pageTitle {
      text-align: center;
      font-size: 50px;
      margin-bottom: 30px;
    }

    .product {
      background-color: #fff8f8;
      padding: 30px;
      border-radius: 12px;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
      position: relative;
    }

    .productContent {
      display: flex;
      align-items: flex-start;
      gap: 30px;
    }

    .productImage {
      width: 300px;
      border-radius: 15px;
    }

    .productRight {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }

    .productText {
      margin-bottom: 10px;
    }

    .productName {
      font-size: 30px;
      font-weight: bold;
      margin-bottom: 10px;

    }

    .productDetail {
      font-size: 16px;
      color: #444;
    }

    .favoriteIcon {
      position: absolute;
      top: 20px;
      right: 20px;
      font-size: 30px;
      cursor: pointer;
    }

    .productAction {
      display: flex;
      justify-content: flex-end;
      margin-top: 10px;
      gap: 16px;
    }

    .likeBtn,
    .commentBtn {
      background: none;
      border: none;
      font-size: 30px;
      cursor: pointer;
      display: flex;
    }

    .productInfo {
      margin-top: 30px;
      text-align: center;
      font-size: 16px;
      color: #666;
      list-style: none;
      padding: 0;
      line-height: 1.6;
    }

    @media (max-width: 767px) {
      .mainContainer {
        padding: 20px 10px;
      }

      .product {
        padding: 20px;
      }

      .productContent {
        flex-direction: column;
        align-items: center;
      }

      .productImage {
        width: 100%;
        max-width: 300px;
        height: auto;
        margin-bottom: 20px;
      }

      .productText {
        width: 100%;
        text-align: center;
      }

      .productTitle {
        font-size: 24px;
      }

      .productDetail {
        font-size: 16px;
      }

      .productAction {
        justify-content: center;
        position: static;
        margin-top: 16px;
      }

      .likeBtn,
      .commentBtn {
        font-size: 30px;
      }

      .productInfo {
        font-size: 14px;
        margin-top: 30px;
      }
    }

    .productTitle {
      font-size: 24px;
    }

    .productDetail {
      font-size: 16px;
    }

    .productAction {
      justify-content: center;
      position: static;
      margin-top: 16px;
    }

    .likeBtn,
    .commentBtn {
      font-size: 30px;
    }

    .productInfo {
      font-size: 14px;
      margin-top: 30px;
    }